@page "/bonus"
@using BlazorApp1.Data

<h3>Bonus splitter</h3>

<ul class="my-table">
    @foreach (var item in budgetItems)
    {
        <li style="display: flex">
            <span>@item.Name</span>
            <span>@item.Amount.ToString("C0")</span>
            <input type="range" max="@(item.Amount + Remaining)" step="1000" @bind="@item.Amount" @bind:event="oninput"
                   style="width: @(100 * (item.Amount + Remaining) / totalBudget)%"
                   />
        </li>
    }

    <div>
        <span>Remaining: </span>
        <span>@Remaining.ToString("c0") </span>
    </div>

    <button disabled="@(Remaining > 0)">Save</button>
</ul>

@code {
    decimal totalBudget = 1000000;

    List<BudgetItem> budgetItems = new List<BudgetItem>
{
        new BudgetItem{Name = "Developers"},
        new BudgetItem{Name = "AMangers"},
        new BudgetItem{Name = "Sales"}
        };

}


@code{

    decimal Remaining => totalBudget - budgetItems.Sum(c => c.Amount);

}
